@{
    ViewBag.Title = "Home Page for ISM 672 NWTraders";
}


<div class="row">

</div>

<div class="row">

    <div class="col-md-4">
        <h2>Our Employees</h2>
        <div>
            Click on Employees to get information about the North Wind Traders Employees
        </div>
        <div type=" button" class="btn btn-light  rounded shadow-lg">
            <i class="material-icons align-text-bottom">business</i>
            @Html.ActionLink("My NW Traders Employees", "Index", "Employees")
        </div>
    </div>

    <div class="col-md-4">
        <h2>Our Products</h2>
        <div>
            Click on Products to get information about the North Wind Traders Products.
        </div>
        <div type=" button" class="btn btn-light  rounded shadow-lg"
             title=" Products will go here">
            <i class="material-icons align-text-bottom">business</i>
            @Html.ActionLink("NW Traders Products", "Index", "Products")
        </div>
    </div>
    <div class="col-md-4">
        <h2>Your Orders</h2>
        <div>
            North Wind Traders Customers:<br />
            Click on Orders to get information about the orders you have placed and place new orders.
        </div>
        <div class="alert-warning"> Requires Login</div>
        <div type=" button" class="btn btn-light  rounded shadow-lg"
             title=" Orders will go here">
            <i class="material-icons align-text-bottom">shopping_basket</i>
            @Html.ActionLink("NW Traders Orders", "Overview", "Customers")
        </div>
    </div>
</div>
